

#featuresChooseProduct {
    padding-bottom: 228px;
}
#featuresChooseProduct  .Productline{
display: inline-block;
}


#featuresChooseProduct  .Productline{
    padding: 2%;
    margin-left: 12%;
}

.prices {
height:493px;
width:1170px;
border: 1px solid gray;
}

.prices img {
width: 90px;
height:120px;
margin-top: 18px;
margin-left: 43px;

}